<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <title th:text="'View Recipe: '+${recipe.description}">View Recipe: ${recipe.description}</title>
</head>
<body>

<!--/*@thymesVar id="recipe" type="com.resolutech.recipe.domain.Recipe"*/-->
<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Categories:</h5>
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li th:each="category : ${recipe.categories}" th:text="${category.description}">
                                    category
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Prep Time:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.prepTime}+' min'">X min</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Difficulty:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty}">difficulty</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Cook Time:</h5>
                        </div>
                        <div class="col-md-3" th:switch="${recipe.cookTime}">
                            <p th:case="null">N/A</p>
                            <p th:case="*" th:text="${recipe.cookTime} + ' min'">X min</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Servings:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.servings}">X</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Source:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.source}"></pth:text>
                        </div>
                        <div class="col-md-3">
                            <h5>URL:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.url}">http://www.example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary mt-4">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Ingredients</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:each="ingredient : ${recipe.ingredients}"
                                    th:text="(${ingredient.amount} ?: '') + ' ' + (${ingredient.uom?.uom} ?: '') + ' - ' + ${ingredient.description}">
                                    Amount UOM Description
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary mt-4">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Directions</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">directions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary mt-4">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Notes</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notes?.recipeNotes}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/popper.js/2.0.2/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>