<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <title>View Ingredients</title>

</head>
<body>

<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="card-title">Ingredients</h3>
                        </div>
                        <div class="col-md-1 pr-2">
                            <a class="btn btn-outline-light" role="button"
                               th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/new'}">New</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table table-responsive table-hover w-100 d-block d-md-table"
                           th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>View</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody class="card-body">
                        <tr class="table-row" th:each="ingredient : ${recipe.ingredients}">
                            <!-- @Important thymeleaf hint for autocomplete -->
                            <!--/*@thymesVar id="recipe" type="com.resolutech.recipe.domain.Recipe"*/-->
                            <td class="table-cell" th:text="${ingredient.id}">recipe_id</td>
                            <td class="table-cell"
                                th:text="(${ingredient.amount} ?: '') + ' ' + (${ingredient.uom?.uom} ?: '') + ' ' + ${ingredient.description}">
                                description
                            </td>
                            <td class="table-cell"><a
                                    th:href="@{'/recipe/'+${recipe.id}+'/ingredient/'+${ingredient.id}+'/show'}">View</a>
                            <td class="table-cell"><a
                                    th:href="@{'/recipe/'+${recipe.id}+'/ingredient/'+${ingredient.id}+'/update'}">Update</a>
                            <td class="table-cell"><a class="fa fa-trash-o"
                                                      th:href="@{'/recipe/'+${recipe.id}+'/ingredient/'+${ingredient.id}+'/delete'}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/popper.js/2.0.2/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>