<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <title>Recipe Home</title>

</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">My Recipes</h2>
                </div>

                <div class="card-body">
                    <table class="table table-responsive table-hover w-100 d-block d-md-table"
                           th:if="${not #lists.isEmpty(recipes)}">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>View</th>
                            <!--                            <th>Update</th>-->
                            <!--                            <th>Delete</th>-->
                        </tr>
                        </thead>
                        <tbody class="card-body">
                        <tr class="table-row" th:each="recipe : ${recipes}">
                            <!-- @Important thymeleaf hint for autocomplete -->
                            <!--/*@thymesVar id="recipe" type="com.resolutech.recipe.domain.Recipe"*/-->
                            <td class="table-cell" th:text="${recipe.id}">recipe_id</td>
                            <td class="table-cell" th:text="${recipe.description}">description</td>
                            <td class="table-cell"><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
                            <!--                            <td class="table-cell"><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>-->
                            <!--                            <td class="table-cell"><a class="fa fa-trash-o" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}"></a></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/popper.js/2.0.2/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>